body{
    background: linear-gradient(#4a47a3, #22313f);
    color: white;
    font-size: 25px;
    font-family: 'Gentium Book Plus', serif;
    
}

.navbar{
    background-color: #ad62aa;
   
    
   
   
}

.subtitle {
  color: white;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 20px;
    margin: 20px;
   
    
    

}



.card{

margin: 10px;
box-shadow: #22313f 10px 5px;

}

.logo {
    width: 200px;
    height: aut;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    
  }
#searchResults {
  display: flex;
  flex-wrap: wrap;
  font: message-box;
  /* width: 400px;
  margin: 50px; */
 margin: 30px;
  justify-content: space-evenly;
  gap: 1em;
  border: #000000;
  border-style: dotted;

  
}
 
   /* .dogCards {
    width: 50%;
  } */

  html, head, body {
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
  }